<!-- <select-option
  [id]="'categorySelect'"
  [title]="'Select a category'"
  [titleValue]="''"
  [options]="(categories$ | async) || []"
  (optionSelected)="onCategorySelected($event)"
></select-option>

<select-option
  [id]="'difficultySelect'"
  [title]="'Select a difficulty'"
  [titleValue]="0"
  [options]="difficulties"
  (optionSelected)="onDifficultySelected($event)"
></select-option> -->

<ng-container *ngIf="categories$ | async as categories">
  <select id="categorySelect" [(ngModel)]="selectedCategory">
    <option value="0" disabled selected>Select a category</option>
    <option *ngFor="let c of categories" [ngValue]="c.id">
      {{ c.name }}
    </option>
  </select>

  <select id="difficultySelect" [(ngModel)]="selectedDifficulty">
    <option value="" disabled selected>Select a difficulty</option>
    <option *ngFor="let d of difficulties" [ngValue]="d.name">
      {{ d.name }}
    </option>
  </select>

  <button
    type="button"
    id="createBtn"
    (click)="onCreate()"
    [disabled]="!selectedCategory || !selectedDifficulty"
    class="create-quiz"
  >
    Create
  </button>
</ng-container>

<div *ngIf="loading" style="margin: 1rem">
  <img
    width="80px"
    height="80px"
    src="assets/images/loading.gif"
    alt="loading"
  />
</div>
